/* Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active,
a:focus,
button:focus,
button:active,
input:focus,
input:active {
    outline: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

aside, footer, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg {
  vertical-align: top;
  height: auto;
}

textarea, button ,select {
  font-family: inherit;
  font-size: inherit;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer; 
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

/* Main code */

body {
  font-weight: 400;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-left: 15px;
  padding-right: 15px;
  color: #34aca7;
}

aside {
  width: 140px;
}

aside img {
  align-items: center;
  padding-left: 10px;
  width: 120px;
}

main,
footer {
  width: 1080px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

article {
  width: 896px;
  margin-left: 44px;
}

footer {
  width: 1088px;
}

.aside-menu {
  font-style: italic;
}

h3 {
  font-family: "Verdana", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  line-height: 12px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 10px;
}

p {
  font-style: italic;
  color: #000;
  font-size: 10px;
  line-height: 19px;
}

.baner {
  background-image: url(/img/baner.png);
  max-width: 896px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h2 {
  color: #000;
  display: flex;
  top: 100px;
  font-size: 22px;
  line-height: 22px;
  font-style: italic;
  width: 272px;
  height: 49px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.baner-description {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  width: 487px;
  height: 42px;
  color: #fff;
  background-color: #000;
  justify-content: center;
  margin-bottom: 69px;
}

.aside-menu li {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.aside-menu li::before {
  content: "";
  background: url(/img/food-icon.png);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.aside-menu li:nth-child(2)::before {
  background: url(/img/blog-icon.png);
}

.aside-menu li:nth-child(3)::before {
  background: url(/img/a-list-icon.png);
}

.aside-menu li:nth-child(4)::before {
  background: url(/img/camera-icon.png);
}

.aside-menu li:nth-child(5)::before {
  background: url(/img/about-icon.png);
}

button {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  font-style: italic;
  font-size: 10px;
  align-items: center;
  color: #34aca7;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  padding: 10px 13px 10px 7px;
  margin-bottom: 5px;
}

button::before {
  content: "";
  background: url(/img/twitter-icon.png);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.aside-friends > p {
  margin-bottom: 15px;
}

.tabs {
  display: flex;
}

.tabs-item {
  width: 224px;
  height: 85px;
  padding-left: 20px;
  padding-top: 26px;
  background-color: rgba(239, 248, 247, 1);
}

.tabs-item:last-child {
  background: #d9efec;
}

.tabs-item > p {
  color: #34aca7;
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

.subscribe-box {
  margin-top: 30px;
  border-top: 1px dashed #e5e5e5;
  display: flex;
  height: 51px;
  border-bottom: 1px dashed #e5e5e5;
  align-items: center;
}

#email {
  border: 1px solid #e5e5e5;
  width: 160px;
  height: 22px;
  font-size: 10px;
  padding: 6px;
  margin-right: 18px;
}

.subscribe-box-description {
  line-height: 16px;
  color: #000000;
  font-style: italic;
  width: 530px;
  margin-right: 24px;
}

.email {
  width: 32px;
  height: 26px;
  margin-right: 16px;
}

.subscribe {
  background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
  padding: 6px 18px;
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.cards {
  display: flex;
  margin-top: 29px;
  justify-content: space-between;
}

.cards-item > img {
  border: 11px solid #ffffff;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  height: 143px;
}

.cards-item {
  height: 336px;
  width: 207px;
}

.cards-item:not(:last-child) {
  margin-right: 23px;
}

.cards-item-description {
  display: -webkit-box;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 11px;
}

.cards-item-heading {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  margin-top: 11px;
  margin-bottom: 9px;
}

.cards-item-date {
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
}

.cards-item > a {
  line-height: 20px;
  letter-spacing: -0.02em;
}

.cards-item-footer {
  display: flex;
  align-items: center;
}

.footer-urls li {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  padding-right: 5px;
}

.footer-urls li:not(:last-child) {
  border-right: 1px solid #e5e5e5;
}

.footer-description {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #e5e5e5;
}

footer {
  justify-content: space-between;
  border-top: 2px solid #e5e5e5;
  margin-top: 41px;
  padding-top: 24px;
}

@media (max-width: 1176px) and (min-width: 992px) {
  article {
    width: 712px;
  }
  main,
  footer {
    width: 896px;
  }
  .cards-item {
    height: 346px;
    width: 159px;
  }
  .cards-item img {
    width: 159px;
    height: 113px;
  }
  .tabs-item {
    height: 35px;
    padding-top: 10px;
  }
  .tabs-item p {
    display: none;
  }
  .subscribe-box {
    margin-top: 10px;
  }
  h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .cards {
    margin-top: 18px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  article {
    width: 710px;
    margin-left: 0;
  }
  aside {
    width: 710px;
    display: flex;
    margin-bottom: 31px;
    align-items: center;
    justify-content: space-between;
  }
  main {
    width: 710px;
    flex-direction: column;
  }
  .cards-item {
    height: 346px;
    width: 159px;
  }
  .cards-item img {
    width: 159px;
    height: 113px;
  }
  .tabs-item {
    height: 35px;
    padding-top: 10px;
  }
  .tabs-item p {
    display: none;
  }
  .subscribe-box {
    margin-top: 10px;
  }
  h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .cards {
    margin-top: 18px;
  }
  .aside-menu li {
    display: inline;
    width: 100px;
    text-align: center;
    margin-bottom: 0px;
  }
  .aside-friends {
    display: none;
  }
  .aside-tweet {
    display: none;
  }
  .aside-menu li::before {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    margin: 0px auto 12px;
  }
  .aside-menu ul {
    display: flex;
  }
  footer {
    width: 710px;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .baner-description {
    margin-bottom: 0px;
    width: inherit;
    justify-content: start;
    padding-left: 10px;
  }
  .baner h2 {
    width: inherit;
    padding-left: 10px;
    justify-content: start;
    background: #ffffff;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  article {
    width: 545px;
    margin-left: 0;
  }
  aside {
    width: 545px;
    display: flex;
    margin-bottom: 31px;
    align-items: center;
    justify-content: space-between;
  }
  main {
    width: 545px;
    flex-direction: column;
  }
  .cards-item:not(:last-child) {
    margin-right: 0px;
  }
  .cards-item {
    height: 346px;
    width: 256px;
  }
  .cards-item img {
    width: 256px;
    height: 150px;
  }
  .cards-item-description {
    -webkit-line-clamp: 4;
  }
  .cards-item:nth-child(odd) .cards-item-description {
    padding-right: 40px;
  }
  .tabs-item {
    display: none;
  }
  .subscribe-box {
    margin-top: 39px;
    padding-left: 18px;
    flex-wrap: wrap;
    height: 96px;
  }
  .subscribe-box-description:first-child {
    width: 10%;
  }
  .subscribe-box-description:nth-child(2) {
    width: 85%;
    margin-right: 0px;
  }
  #email {
    width: 394px;
  }
  h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .cards {
    margin-top: 27px;
    flex-wrap: wrap;
  }
  .aside-menu li {
    display: inline;
    width: 85px;
    text-align: center;
    margin-bottom: 0px;
  }
  .aside-friends {
    display: none;
  }
  .aside-tweet {
    display: none;
  }
  .aside-menu li::before {
    display: none;
  }
  .aside-menu ul {
    display: flex;
  }
  footer {
    width: 545px;
  }
  aside img {
    padding-left: 0px;
  }
  .baner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 353px;
  }
}

@media (max-width: 480px) {
  .baner-description {
    margin-bottom: 0px;
    width: inherit;
    justify-content: start;
    padding-left: 10px;
  }
  .baner h2 {
    width: inherit;
    padding-left: 10px;
    justify-content: start;
    background: #ffffff;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  article {
    width: 480px;
    margin-left: 0;
  }
  aside {
    width: 480px;
    display: flex;
    margin-bottom: 31px;
    align-items: center;
    justify-content: space-between;
  }
  main {
    width: 480px;
    flex-direction: column;
  }
  .cards-item:not(:last-child) {
    margin-right: 0px;
  }
  .cards-item {
    height: 346px;
    width: 256px;
    margin-bottom: 29px;
  }
  .cards-item img {
    width: 376px;
    height: 200px;
  }
  .cards-item-description {
    -webkit-line-clamp: 4;
    width: 300px;
  }
  .tabs-item {
    display: none;
  }
  .subscribe-box {
    margin-top: 39px;
    padding-left: 18px;
    flex-wrap: wrap;
    height: 96px;
  }
  .subscribe-box-description:first-child {
    width: 10%;
  }
  .subscribe-box-description:nth-child(2) {
    width: 85%;
    margin-right: 0px;
  }
  #email {
    width: 312px;
  }
  h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .cards {
    margin-top: 27px;
    flex-wrap: wrap;
    width: 376px;
    margin: 27px auto 0 auto;
  }
  aside {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aside-menu {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 34px;
    order: 1;
  }
  ul {
    justify-content: space-between;
  }
  aside img {
    order: 2;
  }
  .aside-menu li {
    display: inline;
    width: 85px;
    text-align: center;
    margin-bottom: 0px;
  }
  .aside-friends {
    display: none;
  }
  .aside-tweet {
    display: none;
  }
  .aside-menu li::before {
    display: none;
  }
  .aside-menu ul {
    display: flex;
  }
  footer {
    width: 480px;
    margin-right: 0px;
  }
  aside img {
    padding-left: 0px;
  }
  .baner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 353px;
  }

  body {
    padding: 0px;
  }
}